* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-yellow: rgba(255,191,75,1);
    --main-orange: rgba(255,151,95,1);
    --main-red: rgba(255,103,84,1);
}

body {
    font-family: "Gill Sans", sans-serif;
}

/* header and navigation styles start */

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: normal;
    margin: 0;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.75vw;
}

/* header and nav styles end */

/* footer styles start */
footer {
    background-color: var(--main-orange);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer h2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
    display: flex;
    align-items: center;
}

footer h2 span {
    font-size: 20px;
    margin-right: 8px;
}

/* end footer styles */

/* hero styles start */
.hero-section {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.hero-transparent-section {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 200px;
    padding: 25px 10px 40px 10px;
}

.hero-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    color:rgb(80, 80, 80);
    width: 45%;
    padding: 15px 5px 0 30px;
}

.hero-text h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 34px;
}

.hero-section img {
    max-height: 350px;
    box-shadow: 20px 10px 0 var(--main-orange);
}

/* hero styles end */


.rotated-header {
    writing-mode: vertical-rl;
    text-align: center;
    transform:rotate(180deg);
    flex-grow: 0;
    height: 90%;
    max-height: 500px;
}

.rotated-header h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: white;
}

/* about-me styles start */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#about-me-header {
    background-color: var(--main-yellow);
}

.intro-content {
    margin: 30px 0 30px 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.intro-content p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    color:rgb(80, 80, 80);
    height: 40%;
    margin: 20px;
    margin-right: 0;
}

.intro-content a {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color:white;
    background-color: var(--main-red);
    border: 5px solid white;
    text-decoration: none;
    padding: 10px;
    height: 20%
}

#resume-button:hover {
    background-color: white;
    border: 5px solid var(--main-red);
    color: var(--main-red);
}

.intro-content div {
    height: 35%;
    margin: 20;
}
.intro-content-skills h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color:rgb(80, 80, 80);
    margin: 20px;
}

.intro-content-skills img {
    max-height: 100px;
}

/* about me styles end */




/* my work section starts */

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#my-work-header {
    background-color: var(--main-orange);
}

.work-content {
    margin: 30px 0 30px 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* my work section ends */



/* contact-me section styles start */

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#contact-me-header {
    background-color: var(--main-red);
}

.contact-content {
    margin: 30px 0 30px 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* contact-me section styles start */
